.nuxt
.output
.nitro
.dist
.cache
.data
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
vite.config.*.timestamp-*
.vite
logs
*.log
coverage
.DS_Store
Thumbs.db
.orchids
.trae
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
*.local
*.swp